{% set serverpackages = salt['grains.filter_by']({
  'Debian': {
    'packages': [ 'bash-completion', ],
  },
  'RedHat': {
    'packages': [ 
                  'bash-completion', 
                  'bind-utils', 
                  'blktrace', 
                  'bzip2', 
                  'edac-utils', 
                  'ledmon', 
                  'lm_sensors', 
                  'lsof', 
                  'lsscsi', 
                  'ltrace', 
                  'man-pages', 
                  'man-pages-overrides', 
                  'mc', 
                  'mlocate', 
                  'mtr', 
                  'net-tools', 
                  'pinfo', 
                  'rasdaemon', 
                  'rng-tools', 
                  'rsync', 
                  'screen', 
                  'smartmontools', 
                  'strace', 
                  'sysstat', 
                  'tcpdump', 
                  'tmux', 
                  'traceroute', 
                  'tree', 
                  'unzip', 
                  'usbutils', 
                  'vim-enhanced', 
                  'wget', 
                  'yum-utils', 
                  'zip', 
                ],
  },
  'default': {
    'packages': [ 'bash-completion', ],
  },
}, merge=salt['pillar.get']('serverpackages:lookup')) %}
