{% set serverpackages = salt['grains.filter_by']({
  'Debian': {
    'packages': [ 'bash-completion', ],
  },
  'RedHat': {
    'packages': [ 
                  'bash-completion', 
                ],
  },
  'default': {
    'packages': [ 'bash-completion', ],
  },
}, merge=salt['pillar.get']('serverpackages:lookup')) %}
